<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container-fluid no-padding">

            <div class="row" >
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><i>"Life is 10% what happens to us and <br>90% how we react to it"</i></h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.facebook.com/quang.tranhuu151" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/at-quangth" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a" ng-controller="AboutController">

        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">My Profile</h2>
                    <div class="panel-body">
                      <dl class="dl-horizontal">
                        <dt>Full name:</dt>
                          <dd>{{profile.fullname}}</dd>
                        <dt>Birthday:</dt>
                          <dd>{{profile.birthday}}<dd>
                        <dt>Gender:</dt>
                          <dd>{{profile.gender}}<dd>
                        <dt>Hometowns:</dt>
                          <dd>{{profile.hometowns}}<dd>
                        <dt>Job Title:</dt>
                           <dd><span class="label label-info">{{profile.job}}</span></dd>
                        <dt>Team work:</dt>
                          <dd>{{profile.team}}<dd>
                        <dt>Email:</dt>
                          <dd>{{profile.email}}</dd>
                        <dt>Phone Number:</dt>
                          <dd>{{profile.phone}}</dd>
                        <dt>Github:</dt>
                          <dd><a href="{{profile.urlgit}}">
                            <i class="fa fa-github" aria-hidden="true"></i>{{profile.github}}</a></dd>
                        <dt>Skype:</dt>
                          <dd>{{profile.skype}}</dd>
                          </dd>
                      </dl>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{profile.picture}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container-fluid no-padding">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">My Technology Skill</h2>
                    <ul id="skill">
                        <li><a href="#">Language</a>:
                            <ul>
                                <li>PHP</li>
                                <li>JAVA</li>
                                <li>C++</li>
                            </ul>
                        </li>
                        <li>HTML5, CSS3, JavaScript, jQuery...</li>
                        <li>Database : MySQL</li>
                    </ul>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/technology.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container-fluid no-padding">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">My Favorite</h2>
                    <p class="lead">After working, I usualy relax myself by listening music or watching films. It make all of stress thing disappear.</p>
                    <ul id="favorite">
                        <li><i class="fa fa-music fa-lg" aria-hidden="true"></i>  &nbsp;Music</li>
                        <li><i class="fa fa-film fa-lg" aria-hidden="true"></i>  &nbsp;Film</li>
                        <li><i class="fa fa-gamepad fa-lg" aria-hidden="true"></i>  &nbsp;Game</li>
                        <li><i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i>  &nbsp;Soccer</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/favorite.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container-fluid no-padding">

            <div class="row">
                <div class="col-lg-offset-2 col-lg-4">
                    <h2>Connect with me:</h2>
                </div>
                <div class="col-lg-4">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://facebook.com/quang.tranhuu151" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/at-quangth" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->