
<!-- <ul  style="margin-top: 100px;">
   <li ng-repeat="car in cars"><a href="#ShowOrder/{{car.Brand}}">
   {{car.Brand}}</a>
     <ul><li ng-repeat="list in car.List"><a href="#ShowOrder/{{car.Brand}}">
     {{list.id}}</a></ul>
   </li>
   </li>
 </ul> -->

<div class="container" style="margin-top: 100px;" ng-controller="ListProductController">

  Number: <input ng-model="number">
  <button ng-click="isFibonacci(number)">Check</button>
   <h1>You entered: {{message}}</h1>
  <h2>Popular product in 2016</h2>
  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default col-sm-4" ng-repeat="product in products">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{product.Brand}}">{{product.Brand}}</a>
        </h4>
      </div>
      <div id="{{product.Brand}}" class="panel-collapse collapse in">
        <ul class="list-group" >
          <li class="list-group-item" ng-repeat="item in product.List"><a href="#ShowOrder/{{item.Brand}}">
       {{item.Brand}}</a></li>
      </ul>
      </div>
    </div>
  </div> 
</div>
<!-- <div class="row">
  Number: <input ng-model="number">
  <button ng-click="isFibonacci(number)">Check</button>
   <h1>You entered: {{message}}</h1>
</div> -->
<!-- <div ng-controller="ShowOrderController" ng-repeat="car in cars">
<h2>Car: {{car.id}}</h2>

<p>Car Specs:</p>
<ol>
<li>Model: {{car.Model}}</li>
<li>Year: {{car.Year}}</li>
<li>Motor: {{car.Motor}}</li>
<li>Pk: {{car.Pk}}</li>
<li>Price:{{car.Price}}</li>
</ol>


</div> -->