<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Team Directory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/at-hungbcp/angular-app-template">
            <span class="glyphicon glyphicon-book"></span>
            app-template
          </a>
        </li>
        <li>
          <a href="https://github.com/at-hungbcp/angular-starter-app">
            <span class="glyphicon glyphicon-book"></span>
            starter-app
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ol class="breadcrumb">
  <li ng-class="{ 'active': people }"><a href="#/people">Home</a></li>
  <li ng-if="!people" class="actie"><a href="#">{{person.fullName}}</a></li>
</ol>
